h1{
    color: whitesmoke;
    background-color: black;
    }
p{
    color: whitesmoke;
    font-size:25px;
    background-color: royalblue;

}
a{
    color: chocolate;
    font-size: 25px;
    background-color: black;
    margin: 500px;



}